body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #bacfd6;
  margin: 70px;
}
h1 {
  font-family: "Times New Roman", Times, serif;
}
.ola {
  font-size: large;
  margin-right: 15px;
  padding-left: 25px;
}
.image {
  border-radius: 100%;
  width: 230px;
  height: 230px;
  float: left;
  overflow: hidden;
  margin-right: 30px;
  margin-bottom: 20px;
}
.titulo {
  text-align: center;
}
span{
  font-weight:bold;
}

li{
  list-style-type:circle ;
}
#lazanha, #martini{
  font-style: italic;
}
ul{
  margin-top: 50px;
}
